@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.cm-editor {
  height: 100% !important;
  @apply p-2
}

.cm-gutter {
  z-index: auto;
  background-color: white;
}


.cm-gutters {
  border: none !important;
}

.cm-gutterElement {
  @apply text-sm text-gray-800
}

.cm-focused {
  outline: none !important;
}

.rdg-cell {
  @apply border
}

.rdg-row-even {
  @apply bg-gray-50
}

.rdg-cell-resizable::after {
  @apply bg-gray-100
}

.gutter {
  border-top-width: 1px;
  border-color: #d1d5db;
  position: relative;
  background-color: #e2e2e2;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color 0.5s
}

.gutter:hover {
  border-color: #004ae9;
  background-color: rgb(54, 133, 230);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.rdg-cell {
  border-color: rgb(189, 189, 189);
}