@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.cm-editor {
  height: 100% !important;
  @apply p-2
}

.cm-gutter {
  background-color: white;
}


.cm-gutters {
  border: none !important;
}

.cm-gutterElement {
  @apply text-sm text-zinc-800
}

.cm-focused {
  outline: none !important;
}

.rdg-cell {
  @apply border
}

.rdg-row-even {
  @apply bg-zinc-50
}

.rdg-cell-resizable::after {
  @apply bg-zinc-200
}